<li class="chats-item">
	<button>
		<div class="chat-avatar">
			<img src="../../assets/svg/empty-avatar.jpg" alt="chat avatar">
		</div>
		<div class="chat-rows">
			<div class="chat-description">
				<span class="chat-name">Киноклуб</span>
				<span class="last-time">1 мая 2020</span>
			</div>
			<div class="chat-details">
				<span class="last-message">
					<span class="is-me">Вы:</span>
					И Human Interface Guidelines и Material Design рекомендуют kajsdhkjhasdh
				</span>
				<span class="coutn-wrapper">
					<span class="count">4</span>
				</span>
			</div>
		</div>
	</button>
</li>
