{{!< layout}}

<link rel="stylesheet" href="../../styles/initial.scss">
<section class="initial-body">
	<form class="initial-form">
		<h2>Вход</h2>

		{{> input/input type="login" placeholder="Логин" }}
		{{> input/input type="password" placeholder="Пароль" }}

		{{> button/button text="Авторизоваться" mode="sign-in" }}
		<a class="initial-link" href="../sign-up/sign-up.hbs">Нет аккаунта?</a>
	</form>
</section>