{{!< layout}}

<link rel="stylesheet" href="../../styles/initial.scss">
<link rel="stylesheet" href="./errors.scss">
<section class="initial-body error-body">
	<h2 class="error-type">500</h2>
	<p class="error-text">Мы уже фиксим</p>
	<a class="revert-link" href="../main/main.hbs">Назад к чатам</a>
</section>