@import '../../styles/variables.scss';

.profile-body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.back-button {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 64px;
		border: none;
		border-right: 1px solid $gray-color;
		outline: none;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #FBFBFB;
		cursor: pointer;

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background-color: $primary-color;
			transform: rotate(180deg);
		}
	}

	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		margin-bottom: 60px;

		.profile-avatar {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 130px;
			height: 130px;
			border: none;
			outline: none;
			border-radius: 50%;
			background-color: $avatar-background-color;
			cursor: pointer;

			.change-avatar {
				position: absolute;
				width: 64px;
				font-size: 13px;
				line-height: 14px;
				color: transparent;
			}

			&:hover {
				background-color: #000000;
				opacity: 0.5;

				& .change-avatar {
					color: #FFFFFF;
				}
			}
		}

		.profile-name {
			font-weight: 600;
			font-size: 16px;
			line-height: 16px;
			color: $dark-text-color;
		}
	}

	.profile-form {
		display: flex;
		flex-direction: column;
		align-items: center;

		max-width: 510px;
		width: 100%;
	}

	.button.save {
		margin-top: 60px;
	}

	.links-container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		max-width: 510px;
		width: 100%;
		gap: 20px;
		margin-top: 60px;

		.profile-link {
			position: relative;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 100%;
				border-bottom: 1px solid $gray-color;
			}
		}

		.exit-link {
			color: #FF0000;
		}
	}
}
