{{!< layout}}

<link rel="stylesheet" href="./profile.scss">
<section class="profile-body">
	<button class="back-button">
		<div>
			<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect y="5.19995" width="11" height="1.6" fill="white"/>
				<path d="M7 1L11 6L7 11" stroke="white" stroke-width="1.6"/>
			</svg>
		</div>
	</button>
	<header>
		<button class="profile-avatar">
			<img src="../../assets/svg/avatar-plug.svg" alt="аватар">
			<span class="change-avatar">Поменять аватар</span>
		</button>
		<h2 class="profile-name">Иван</h2>
	</header>
	<form class="profile-form">
		{{> profile-input/profile-input type="email" placeholder="Почта" value="pochta@yandex.ru" }}
		{{> profile-input/profile-input type="login" placeholder="Логин" value="ivanivanov" }}
		{{> profile-input/profile-input type="text" placeholder="Имя" value="Иван" }}
		{{> profile-input/profile-input type="text" placeholder="Фамилия" value="Иванов" }}
		{{> profile-input/profile-input type="text" placeholder="Имя в чате" value="Иван" }}
		{{> profile-input/profile-input type="tel" placeholder="Телефон" value="+79099673030" }}
	</form>
	<div class="links-container">
		<a class="profile-link" href="./set-profile.hbs">Изменить данные</a>
		<a class="profile-link" href="./set-password.hbs">Изменить пароль</a>
		<a class="exit-link" href="../main/main.hbs">Выйти</a>
	</div>
</section>
