<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../styles/index.scss">
		<link rel="stylesheet" href="./profile.scss">
		<title>Like Telegram</title>
	</head>
	<body class="profile-body">
		<button class="back-button">
			<div>
				<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect y="5.19995" width="11" height="1.6" fill="white"/>
					<path d="M7 1L11 6L7 11" stroke="white" stroke-width="1.6"/>
				</svg>
			</div>
		</button>
		<header>
			<div class="profile-avatar">
				<img src="../../assets/svg/avatar-plug.svg" alt="аватар">
			</div>
		</header>
		<form class="profile-form">
			{{> profile-input/profile-input type="password" placeholder="Пароль" }}
			{{> profile-input/profile-input type="password" placeholder="Новый пароль" }}
			{{> profile-input/profile-input type="password" placeholder="Повторите новый пароль" }}
		</form>
		{{> button/button text="Сохранить" mode="save" }}
		{{> project-navigation/project-navigation }}
	</body>
</html>
