{{!< layout}}

<link rel="stylesheet" href="../../styles/initial.scss">
<section class="initial-body">
	<form class="initial-form">
		<h2>Регистрация</h2>

		{{> input/input type="email" placeholder="Почта" }}
		{{> input/input type="login" placeholder="Логин" }}
		{{> input/input type="text" placeholder="Имя" }}
		{{> input/input type="text" placeholder="Фамилия" }}
		{{> input/input type="tel" placeholder="Телефон" }}
		{{> input/input type="password" placeholder="Пароль" }}
		{{> input/input type="password" placeholder="Пароль (ещё раз)" }}

		{{> button/button text="Зарегистрироваться" mode="sign-up" }}
		<a class="initial-link" href="../sign-in/index.hbs">Войти</a>
	</form>
</section>