<nav class="navigation">
	<a href="../../../index.hbs">Аторизация</a>
	<a href="../../pages/sign-up/sign-up.hbs">Регистрация</a>
	<a href="../../pages/errors/404.hbs">Страница 404</a>
	<a href="../../pages/errors/server-error.hbs">Ошибка сервера</a>
	<a href="../../pages/main/main.hbs">Чаты</a>
	<a href="../../pages/profile/profile.hbs">Профиль</a>
	<a href="../../pages/profile/set-profile.hbs">Изменить профиль</a>
	<a href="../../pages/profile/set-password.hbs">Изменить пароль</a>
	<a href="../../pages/modals/modals.hbs">Модалки</a>
</nav>
