.navigation {
	position: absolute;
	top: 70px;
	right: 20px;

	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 125px;
	padding: 10px;
	background-color: transparent;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
	border-radius: 8px;
}
