{{!< layout}}

<section class="modals-body">
	{{> modals/add-or-delete-user optionName="Добавить" }}
	{{> modals/add-or-delete-user optionName="Удалить" }}
	{{> modals/upload-file title="Загрузите файл" }}
	{{> project-navigation/project-navigation }}
</section>
