<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../styles/index.scss">
		<title>Like Telegram</title>
	</head>
    <body>
        {{{body}}}

	    {{> project-navigation/project-navigation }}
    </body>
</html>
